body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.calendar {
  background-color: #006064;
  color: #fff;
  height: 595px;
}

.col-cal, .calendar {
  margin: 0 auto;
  padding: 15px;
  width: 25%;
}

.col {
  float: left;
  height: 65px;
  width: 14%;
}

.text {
  font-size: 1.3em;
  font-weight: 300;
  margin: 30px 0;
}

i.fa.fa-calendar {
  color: #bbb;
  font-size: 1.4em;
  margin-right: 14px;
}

.dark-row {
  background-color: #034749;
  color: #fff;
}

.light-row {
  background-color: #80c4cb;
  border-bottom: 1px solid #fff;
  text-align: left;
}

.btn-primary {
  background-color: #ef4b82;
  border: 1px solid #da5783;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  height: 45px;
  width: 50px;
}

.btn-primary:hover {
  opacity: .8;
  transition-duration: .5s;
}

.btn-delete {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
}
