body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.calendar {
  background-color: #006064;
  color: #fff;
  height: 595px;
}

.col-cal, .calendar {
  margin: 0 auto;
  padding: 15px;
  width: 25%;
}

.col {
  float: left;
  height: 65px;
  width: 14%;
}

.text {
  font-size: 1.3em;
  font-weight: 300;
  margin: 30px 0;
}

i.fa.fa-calendar {
  color: #bbb;
  font-size: 1.4em;
  margin-right: 14px;
}

.dark-row {
  background-color: #034749;
  color: #fff;
}
